*
{
    padding: 0;
    margin: 0;
}
body
{
margin-left: 100px ;
margin-right: 100px;
}

h3
{
    padding: 20px;
text-align: center;
color: 10px solid black;

}
p{
    padding-bottom: 10px;
    text-align: center;
}
span
{
    color: blue;
    text-decoration: underline;
}
.t1 h4
{
    border-bottom: solid black;

}
.t1 p
{
    text-align: justify;
}
.t2 h4
{
    border-bottom: solid black;
}
.t2 p
{
    text-align: justify;
}
.t3 h4
{
    border-bottom: solid black;
}
.t3 p
{
    text-align: justify;
}
.t4 h4
{
    border-bottom: solid black;
}
.t4 p
{
    text-align: justify;
}
.t5 h4
{
    border-bottom: solid black;
}
.t6 h4
{
    border-bottom: solid black;
}
.t6
{
    padding-bottom: 40px;
}



